.navbar {
  border-radius: 0px;
}
.container {
  padding-top: 60px;
}
body {
  color: #9d9d9d;
}
.hero {
    position:relative;
    background-color:#080808;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}
.hero:after {
    z-index: -1;
    position: absolute;
    top: 100%;
    left: 70%;
    margin-left: -10px;
    content:'';
    width: 0;
    height: 0;
    border-top: solid 10px #080808;
    border-left: solid 10px transparent;
    border-right: solid 10px transparent;
}
.content-container { 
  padding:0px 0px 10px 0px; 
  border: 1px solid #ddd
}
.content-container>div>span {
  margin: 0px 0px 10px 0px;
  display: inline-block;
}
.content-container div h4 {
  margin: 20px 0px;
}
.content-container h4 strong {
  color: orangered;
}
.donation-box {
  min-height: 50px;
}
.progress {
  width: 100%;
  margin: 0px;
}
.progress>span, .progress>input{
  height: 100%;
}
.progress-bar {
  background-color: orangered;
}
.content-container .input-group {
  margin-bottom: 5px;
}
.content-container input.form-control {
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.content-container .input-group-addon {
    background-color:#FFF;
}
.content-container .input-group .input-group-addon + .form-control {
    border-left:none;
}
.content-container .input-group::nth-child(2) {
  border-radius: 6px;
}
.content-container .input-group-btn.input-space {
  padding-left: 15px;
}
.content-container .add-amt {
  min-width: 100px;
  background-color: limegreen;
  border-radius: 6px !important;
}
.main-btn {
  padding: 15px 30px;
  font-weight: 500;
}